/*
--- 01 TYPOGRAPHY SYSTEM
-FONT SIZES (px)
10 / 12 / 14 /16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- FONT WEIGHTS
Default : 400
Medium :500
Semi-Bold :600
Bold : 700 
- LINE HEIGHTS
DEFAULT: 1
- SPACING SYSTEM (px)
font-size: 1 rem = 16 px (BY DEFAULT) ;
to change it we use : 
    html {
        font-size: 10 px ;
    }
    10px / 16px = 0.625 = 62.5%
the result is 1 rem = 10 px

2 / 4 /8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
--- 02 COLORS 
-Primary : #e67e22 ;
-Tints : #fdf2e9
-Accents : 
-Greys : 
#555
--- 05 SHADOWS 

--- 06 BORDER-RADIUS 

--- 07 WHITESPACE

*/
html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Rubik', sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
}
.hero {
    max-width: 130rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 9.6rem;
}
.delivered-imgs {
    height: 6.4rem;
    width: 6.4rem;
    border-radius: 50%;
}
/********/
.heading-primary {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.05;
    color: #333;
    letter-spacing: -0.5px;
    margin-bottom: 3.2rem;

}
.hero-description {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 4.8rem;
}


.btn:link , .btn:visited {
    display: inline-block;
    text-decoration: none;
    background-color: #e67e22;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    /* Put transition on original state */
    transition: background-color 0.4s ;
}
.btn-full:link , .btn-full:visited {
    background-color: #e67e22;
    color: #fff;    
}
.btn-full:hover , .btn-full:active {
    background-color: #cf711f;
    color: #fff;
}
.btn-outline:link , .btn-outline:visited {
    background-color: #fff;
    color: #555;
}
.btn-outline:hover , .btn-outline:active {
    background-color: #fdf2e9;
    color: #555;
    /*border: 3px solid #fff;*/
    box-shadow: inset 0 0 0 3px #fff;
}
.hero-img {
    width: 100%;
}
.margin-right-sm{
    margin-right: 1.6rem !important;
}
.delivered-meals {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8rem;
    gap: 1.6rem;
}
.delivered-imgs {
    display: flex;
}
.delivered-imgs img {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    text-align: center;
    float: left;
    border: 3px solid #fdf2e9;
}
.delivered-imgs img:last-child {
    margin: 0;
    border: 3px solid #fdf2e9;
}
.delivered-text {
    margin-left: 3.2rem;
    font-size: 1.8rem;
    font-weight: 600;
}
.delivered-text span {
    color: #e67e22;
    font-weight: 700;
}
/* HEADER */
.logo {
    margin-left: 5rem;
}
.section-hero {
    background-color: #fdf2e9;
    padding: 4.8rem 0 9.6rem 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf2e9;
    /*BECAUSE WE WANT THE HEAD TO BE STICKY*/
    height: 9.6rem;
    padding: 0 4.8rem;
}
/*******************************/
/* NAVIGATION */ 
/*******************************/
.main-nav-list {
    list-style: none;
    display: flex ;
    align-items: center;
    gap: 3.2rem;
}
.main-nav-link:link , .main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight:500;
    font-size: 1.8rem;
    transition: all 0.3s;
}
.main-nav-link:hover , .main-nav-link:active {
    color: #cf711f;
}
.nav-cta:link,
.nav-cta:visited {
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    color: #fff;
    background-color: #e67e22;
}


/************************/
/* HOW IT WORKS SECTION */
/************************/
.section-how {
    padding: 9.5px 0;
    background-color: aqua;
}
.section-how div:nth-child(1){
    background-color: blue;
}
.section-how div:nth-child(2){
    background-color: violet;
}
.section-how div:nth-child(3){
    background-color: yellow;
}

